.search-bars {
  width: 30%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 10vw;
  max-width: 20vw;
  height: fit-content;
  gap: 1.75vh;
  padding: 0 16px0 0 0;
  box-sizing: border-box;
}

.pill-search-wrapper {
  position: relative;
  width: 100%;
  display: block;
}


.pill-search-input {
  width: 100%; 
  box-sizing: border-box;
  padding: 8px 10px;
  /* font-size: 16px; */
  border-radius: 999px;     
  border: 1px solid #000; 
  background: #fff;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-border-radius: 999px; 
  transition: box-shadow 0.12s ease, border-color 0.12s ease;
}

.pill-search-input:focus {
  border-color: #000;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.03);
}

.pill-search-input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

.pill-search-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 6px;
  margin: 0;
  cursor: pointer;
  line-height: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pill-search-icon {
  color: #000;
  display: block;
}


.button-with-icon{
    display: inline-flex; 
    align-items: center; 
    background-color: none; 
    border: 1px solid #ccc; 
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 14px;
    width: fit-content;
}

.p-button{
    background:none;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-right: 8px; 
    width: fit-content;
}

.p-image{
    width: 22px; 
    height: 24px; 
    vertical-align: middle; 
}

.action-buttons{
    display: flex; 
    gap: 1vw;
    margin: 15px 0; 
}

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 0 auto;  */
    /* padding: 0 16px; */
    box-sizing: border-box;
}


@media (max-width: 768px) {
   
    .action-buttons {
        width: 50%;
        justify-content: center;
        /* overflow-x: auto; */
        gap: 2vw;
    }
    .p-button {
        display: none;
    }
    .p-image{
        padding: 2px 2px;

    }
}


@media (max-width: 480px) {
    .search-bars {
    width: 100%;
    margin: 10px 0;
    min-width: unset;
    max-width: unset;
  }
    .action-buttons {
        width: 100%;
        justify-content: center;
        /* overflow-x: auto; */
        gap: 5px;
    }
    .p-button {
        display: none;
    }
}

@media (max-width: 360px) {
    .action-buttons {
        gap: 2px;
    }
    .button-with-icon {
        padding: 6px 12px; 
        font-size: 12px;
    }
    .p-button{
        display: none;
    }
    .p-image {
        width: 18px; 
        height: 20px; 
        margin-right: 4px;
    }
}